/* Hide "My Media" Section Title */
.section0 .sectionTitle {
  display: none;
}

/* Center Media Libraries */
.vertical-wrap:not(.centered) {
    justify-content: space-evenly !important;
}

/* Mediabar*/
#slides-container {
    width: calc(100vw - (2 * var(--sidePadding)));
    height: 60%;
    top: 3em;
    border: var(--defaultBorder);
    border-radius: var(--largerRadius);
    transition: all .125s,border 0s;
    user-select: none
}

/* Font Change for Mediabar*/
.runTime,
.rating-value,
.genre,
.play-button,
.rating-value,
.runTime,
.date {
  font-family: 'Roboto', sans-serif !important;
}


/* Change Logo to uTube */
.pageTitleWithDefaultLogo {
  background-image: url(https://cdn.jsdelivr.net/gh/D-E-N-U/uTube@refs/heads/main/uTube.svg);
}

.splashLogo {
  background-image: url(https://cdn.jsdelivr.net/gh/D-E-N-U/uTube@refs/heads/main/uTube.png);
}

/* Hide the "Trailers" tab in Movies */
.mainDrawer:has(.navMenuOption-selected[href^="#/movies.html"]) + .skinHeader .emby-tab-button[data-index="2"] {
  display: none !important;
}

/* Move Genre-Tags to Bottom Left */
.genre-tag {
  border-radius: 4px !important;
}

.genre-overlay-container {
  bottom: auto !important;
  left: 6px !important;
  top: 6px !important;
  right: auto !important;
  align-items: flex-start !important;
}

.card:hover .genre-tag {
  border-radius: 4px !important;
}

/* Only show resolution tags */
.quality-overlay-label.video-codec,
.quality-overlay-label.audio-codec {
  display: none !important;
}

/* Reduce Space between Ratings */
.layout-desktop .mediaInfoItem,
.layout-tv .mediaInfoItem {
  margin-top: 0.2em !important;
  margin-right: 1.0vw;
}


/* Hide the top bar when the login page is visible */
body:has(#loginPage:not(.hide)) .skinHeader {
  display: none !important;
}

/* Show the top bar when the login page is hidden or absent */
body:not(:has(#loginPage:not(.hide))) .skinHeader {
  display: flex !important;
}

/* Hide Jellyseerr Icon on Poster */
.jellyseerr-icon-on-card {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 18%;
    height: auto;
    z-index: 2;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.8));
    display: none;
}

/* Hide Jellyseerr Logo on Search Bar */
#jellyseerr-search-icon {
    position: absolute;
    right: 10px;
    top: 68%;
    transform: translateY(-50%);
    user-select: none;
    z-index: 10;
    transition: filter .2s, opacity .2s, transform .2s;
    display: none;
}

/* Elegantfin Enhancments */

:root{
  --extraCardButtonsVisibility: block;
}

:root{
  --overlayPlayButtonPosition: 50%;
}


/* Hide Jellyfin Enhanced in Sidebar */
.pluginMenuOptions {
    display: none;
} 

/* Disabled CSS, not used or currently unwanted */





